body {
    background-color: #90add1;
    display: flexbox;
    justify-content: center;
    text-align: center;
    color: #0c2d53;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

h3 {
    font-style: italic;
}

/* Hero image  */

img {
    width: 100%;
}

/* Logo image  */

header img {
    width: 150px;
    border-radius: 50%;
}

/* Stacked images div  */

div {
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;

}

/* Stacked images */

div img {
    width: 40%;
    padding: 2%;
    border-radius: 10%;
}

/* List of offerings  */

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

ul li {
    padding : 5px
}

/* Form  */

#form {
    text-align: center;
    border-color:white;
    border-style: dotted;
    border-width: 5px;
    display: flex;
    padding: 5px
}

button {
    background-color: #0c2d53;
    color: white;
    border-radius: 5%;
    border-color: white;
}

/* Responsive CSS  */

@media all and (max-width: 1000px) {
    div {
        display: flex;
        justify-content: space-between;
        margin-left: 20%;
        margin-right: 20%;
        flex-wrap: wrap;
    }
    div img {
        width: 40%;
        padding: 2%;
        border-radius: 10%;
    }

    #form {
        text-align: center;
        border-color:white;
        border-style: dotted;
        border-width: 5px;
        display: flex;
        padding: 5px;
        justify-content: center;
    }
    
}

/* MOBILE CSS */

@media all and (max-width: 767px) {

    header img {
        width: 25%;
        border-radius: 50%;
    }
    
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-left: 20%;
        margin-right: 20%; */
    }
    div img {
        width: 80%;
        padding: 2%;
        border-radius: 10%;
    }

}